<ion-modal-view>
  <ion-header-bar>
	 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

		<div class="container">
			<form>
			  <h1>Create Your Account</h1>
	 
				<h2>Your Name</h2>
					<input type="text" name="yourname" autofocus ng-model="datos.name">
						  <h2>Email Address</h2>
					<input type="email" name="email" placeholder="example@email.com" ng-model="datos.email">
						  <h2>Password</h2>
					<input type="password" name="password" ng-model="datos.password">
						  <button ng-click="obtenerDatos(datos)">Sign Me Up!</button>
						</form>
					  <p>Form styling practice. <a href="">This Dribbble Shot</a></p>
		</div>




  </ion-content>
</ion-modal-view>






